<html>
  <head>
    <meta charset="UTF-8" />
    <title>Portfolio - Kajsa.dev
    </title>
    <link rel="stylesheet" href="/public/style.css" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />

  </head>
  <body>
    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2">Kajsa Andersson</a>
        <a href="/projects" class="btn btn-link">Projects</a>
        <a href="/about" class="btn btn-link">About me</a>
        <a href="/contact" class="btn btn-link">Contact</a>

        {{#if isLoggedIn}}
          <a href="/adminpage"> Adminpage</a>
          <a href="/logout"> Log out</a>
        {{else}}
          <a href="/login">Log in </a>

        {{/if}}
      </section>
    </header>
    {{{body}}}
  </body>
</html>