<h1 class="header-large text-center">Hi admin.</h1>
<h3 class="text-center">You rule this place now</h3>

<a href="/projects/adminpage"><h4 class="header-large text-center">Update projects</h4></a>
<a href="/blog/adminpage"><h4 class="header-large text-center">Update blogs</h4></a>
<a href="/faq/adminpage"><h4 class="header-large text-center">Update FAQ's</h4></a>