{{#if project}}
  <h1 class="header-large text-center">{{project.name}}</h1>
  <p>{{project.description_full}}</p>
{{else}}
  <h1 class="header-large text-center">That project does not exist.</h1>
{{/if}}